/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/

/[Mm]emoryCaptures/

!/[Aa]ssets/**/*.meta
!/**/*.dll

# /[Aa]ssets/AssetStoreTools*

/[Aa]ssets/Plugins/Editor/JetBrains*

.vs/

.gradle/

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.DS_Store

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.pkg

crashlytics-build.properties

/[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*

*.xls#

unityProject.vrmanifest

/.vscode

/Assets/_Temp
/Assets/_Temp.meta

!.gitkeep